<?xml version="1.0"?>

<model>
  <name>scorpio_tibia</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Fadri Furrer</name>
    <email>fadri.furrer@mavt.ethz.ch</email>
  </author>

  <maintainer email="hsu@osrfoundation.org">john hsu</maintainer>


  <description>
    Scorpio tibia and foot submodel.
  </description>

</model>
