<?xml version="1.0"?>

<launch>
    <arg name="mav_name" default="test"/>
    <arg name="world_name" default="arduwoodpecker_demo"/>
    <arg name="debug" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="paused" default="false"/>
    <arg name="namespace" default="$(arg mav_name)"/>
    <arg name="model" default="$(find uav_gazebo)/urdf/$(arg mav_name).xacro"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.1"/>
    <arg name="verbose" default="true"/>

    <param name="robot_description" command="
    $(find xacro)/xacro 
    '$(arg model)' mav_name:=$(arg mav_name) namespace:=$(arg namespace)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find uav_gazebo)/worlds/$(arg world_name).world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="paused" value="$(arg paused)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!-- <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model" args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -model $(arg namespace)" respawn="false" output="screen">
    </node> -->

</launch>